#boxe {
	width:300px;
	position:absolute;
		top:50%;
		left:50%;
			margin-top:-220px;
			margin-left:-158px;
	border:8px solid white;
	background:#EEE;
	box-shadow: 0px 0px 4px #AAAAAA;
	height:400px;
}

#block	{
	width:100px;
	margin:auto;
	padding-bottom:25px;
}

#cont {
	width:240px;
	padding-bottom:10px;
	padding-top:26px;
	margin:auto;
}

p.title	{
	font-size:20px;
	text-align:center;
}

p.para {
	margin-top:20px;
}