body {
	background-image:url('bg.jpg');
	padding-top:40px;
}

#heart	{
	background-image:url('heart-logo.png');
	width:70px;height:70px;
	background-size:70px,70px;
	position:absolute;
	bottom:15px;
	right:15px;
}

.radio-center {
	width:110px;
	height:95px;
	margin:auto;
}

#content {
	border:8px solid white;
	background:#EEE;
	box-shadow: 0px 0px 4px #AAAAAA;
	width:300px;
	margin:auto;
	padding-bottom:20px;
	padding-top:20px;
	margin-top:20px;
}

.again	{
	width:250px;
	text-align:center;
	margin:auto;
	margin-top:8px;
	margin-bottom:-20px;
}

#content p {
	text-align:center;
	padding-bottom:10px;
	font-size:1.4em;
	color:#6B6B6B;
	line-height:26px;
}

#submit	{
	margin:auto;
	height:44px;
	width:144px;
	margin-top:40px;
}

.radio	{margin-left:32px;}

header	{
	margin-top:11px;
	text-align:center;
	font-size:3em;
	font-weight:lighter;
	padding-bottom:33px;
}

footer	{
	text-align:center;
	font-size:0.9em;
	margin-top:50px;
	margin-bottom:6px;
}
